In [22]:
#!pip install keras

In [23]:
import pandas as pd
import numpy as np

In [24]:
#load data
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [25]:
concrete_data.shape

(1030, 9)

In [26]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [27]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [28]:
#split predictors and target
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [29]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [30]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [31]:
#normalize data
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [32]:
n_cols = predictors_norm.shape[1] # number of predictors

In [33]:
import keras

In [34]:
from keras.models import Sequential
from keras.layers import Dense

In [35]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])
    return model

In [36]:
#split data train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)

In [37]:
# build the model
model = regression_model()

In [38]:
# fit the model using data train
model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 1484.3304 - mean_squared_error: 1484.3304
Epoch 2/50
23/23 - 0s - loss: 1465.1829 - mean_squared_error: 1465.1829
Epoch 3/50
23/23 - 0s - loss: 1445.5861 - mean_squared_error: 1445.5861
Epoch 4/50
23/23 - 0s - loss: 1425.7384 - mean_squared_error: 1425.7384
Epoch 5/50
23/23 - 0s - loss: 1404.8132 - mean_squared_error: 1404.8132
Epoch 6/50
23/23 - 0s - loss: 1383.3954 - mean_squared_error: 1383.3954
Epoch 7/50
23/23 - 0s - loss: 1361.3472 - mean_squared_error: 1361.3472
Epoch 8/50
23/23 - 0s - loss: 1338.0769 - mean_squared_error: 1338.0769
Epoch 9/50
23/23 - 0s - loss: 1314.5583 - mean_squared_error: 1314.5583
Epoch 10/50
23/23 - 0s - loss: 1289.3688 - mean_squared_error: 1289.3688
Epoch 11/50
23/23 - 0s - loss: 1263.5142 - mean_squared_error: 1263.5142
Epoch 12/50
23/23 - 0s - loss: 1236.4352 - mean_squared_error: 1236.4352
Epoch 13/50
23/23 - 0s - loss: 1209.0970 - mean_squared_error: 1209.0970
Epoch 14/50
23/23 - 0s - loss: 1180.3140 - mean_squared_error: 1180.3140
Epoch 15/50
23/23 - 0s - loss: 1150.9463 - mean_squared_error: 1150.9462
Epoch 16/50
23/23 - 0s - loss: 1121.0127 - mean_squared_error: 1121.0127
Epoch 17/50
23/23 - 0s - loss: 1089.7622 - mean_squared_error: 1089.7622
Epoch 18/50
23/23 - 0s - loss: 1058.6357 - mean_squared_error: 1058.6357
Epoch 19/50
23/23 - 0s - loss: 1026.3947 - mean_squared_error: 1026.3947
Epoch 20/50
23/23 - 0s - loss: 994.3325 - mean_squared_error: 994.3325
Epoch 21/50
23/23 - 0s - loss: 961.8463 - mean_squared_error: 961.8463
Epoch 22/50
23/23 - 0s - loss: 929.3280 - mean_squared_error: 929.3280
Epoch 23/50
23/23 - 0s - loss: 896.8235 - mean_squared_error: 896.8235
Epoch 24/50
23/23 - 0s - loss: 864.2584 - mean_squared_error: 864.2584
Epoch 25/50
23/23 - 0s - loss: 832.7121 - mean_squared_error: 832.7121
Epoch 26/50
23/23 - 0s - loss: 800.7963 - mean_squared_error: 800.7963
Epoch 27/50
23/23 - 0s - loss: 770.0740 - mean_squared_error: 770.0740
Epoch 28/50
23/23 - 0s - loss: 739.3752 - mean_squared_error: 739.3752
Epoch 29/50
23/23 - 0s - loss: 709.2794 - mean_squared_error: 709.2794
Epoch 30/50
23/23 - 0s - loss: 680.3094 - mean_squared_error: 680.3094
Epoch 31/50
23/23 - 0s - loss: 651.8688 - mean_squared_error: 651.8688
Epoch 32/50
23/23 - 0s - loss: 624.4718 - mean_squared_error: 624.4718
Epoch 33/50
23/23 - 0s - loss: 598.0545 - mean_squared_error: 598.0545
Epoch 34/50
23/23 - 0s - loss: 572.4900 - mean_squared_error: 572.4900
Epoch 35/50
23/23 - 0s - loss: 547.7343 - mean_squared_error: 547.7343
Epoch 36/50
23/23 - 0s - loss: 524.0792 - mean_squared_error: 524.0792
Epoch 37/50
23/23 - 0s - loss: 501.6278 - mean_squared_error: 501.6278
Epoch 38/50
23/23 - 0s - loss: 480.2025 - mean_squared_error: 480.2025
Epoch 39/50
23/23 - 0s - loss: 459.7556 - mean_squared_error: 459.7556
Epoch 40/50
23/23 - 0s - loss: 440.3457 - mean_squared_error: 440.3457
Epoch 41/50
23/23 - 0s - loss: 421.9929 - mean_squared_error: 421.9929
Epoch 42/50
23/23 - 0s - loss: 404.4956 - mean_squared_error: 404.4956
Epoch 43/50
23/23 - 0s - loss: 388.5936 - mean_squared_error: 388.5936
Epoch 44/50
23/23 - 0s - loss: 373.0071 - mean_squared_error: 373.0071
Epoch 45/50
23/23 - 0s - loss: 358.6833 - mean_squared_error: 358.6833
Epoch 46/50
23/23 - 0s - loss: 345.3810 - mean_squared_error: 345.3810
Epoch 47/50
23/23 - 0s - loss: 332.7706 - mean_squared_error: 332.7706
Epoch 48/50
23/23 - 0s - loss: 321.2062 - mean_squared_error: 321.2062
Epoch 49/50
23/23 - 0s - loss: 309.9630 - mean_squared_error: 309.9630
Epoch 50/50
23/23 - 0s - loss: 299.7021 - mean_squared_error: 299.7021

In [39]:
# evaluate the model using data test
scores = model.evaluate(X_test, y_test, verbose=0)
print("MSE: {}".format(scores[0]))

MSE: 324.78839111328125

In [40]:
# evaluate the model using data test with sklearn 
from sklearn.metrics import mean_squared_error
y_pred= model.predict(X_test)

print("MSE: {}".format(mean_squared_error(y_test, y_pred)))

MSE: 324.7883935369407

In [41]:
#Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.
MSE_scores=[]

for i in range(1,50):
        X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3) #split data
        model = regression_model()
        model.fit(X_train, y_train, epochs=50, verbose=0) #train model on training data using 50 epoc
        scores = model.evaluate(X_test, y_test, verbose=1)
        MSE_scores.append(scores[0])

10/10 [==============================] - 0s 2ms/step - loss: 121.7248 - mean_squared_error: 121.7248
10/10 [==============================] - 0s 1ms/step - loss: 165.8405 - mean_squared_error: 165.8405
10/10 [==============================] - 0s 800us/step - loss: 451.1979 - mean_squared_error: 451.1979
10/10 [==============================] - 0s 692us/step - loss: 1521.0200 - mean_squared_error: 1521.0200
10/10 [==============================] - 0s 2ms/step - loss: 187.5897 - mean_squared_error: 187.5897
10/10 [==============================] - 0s 770us/step - loss: 141.9565 - mean_squared_error: 141.9565
10/10 [==============================] - 0s 1ms/step - loss: 227.9999 - mean_squared_error: 227.9999
10/10 [==============================] - 0s 667us/step - loss: 377.2691 - mean_squared_error: 377.2691
10/10 [==============================] - 0s 2ms/step - loss: 134.2087 - mean_squared_error: 134.2087
10/10 [==============================] - 0s 846us/step - loss: 270.7204 - mean_squared_error: 270.7204
10/10 [==============================] - 0s 1ms/step - loss: 112.9732 - mean_squared_error: 112.9732
10/10 [==============================] - 0s 1ms/step - loss: 357.1432 - mean_squared_error: 357.1432
10/10 [==============================] - 0s 2ms/step - loss: 882.8905 - mean_squared_error: 882.8905
10/10 [==============================] - 0s 875us/step - loss: 477.6282 - mean_squared_error: 477.6282
10/10 [==============================] - 0s 2ms/step - loss: 137.0506 - mean_squared_error: 137.0506
10/10 [==============================] - 0s 667us/step - loss: 480.0299 - mean_squared_error: 480.0299
10/10 [==============================] - 0s 1ms/step - loss: 224.4555 - mean_squared_error: 224.4555
10/10 [==============================] - 0s 776us/step - loss: 131.5685 - mean_squared_error: 131.5685
10/10 [==============================] - 0s 555us/step - loss: 154.4306 - mean_squared_error: 154.4306
10/10 [==============================] - 0s 760us/step - loss: 102.9192 - mean_squared_error: 102.9192
10/10 [==============================] - 0s 2ms/step - loss: 250.2478 - mean_squared_error: 250.2478
10/10 [==============================] - 0s 2ms/step - loss: 1056.7578 - mean_squared_error: 1056.7578
10/10 [==============================] - 0s 2ms/step - loss: 118.8060 - mean_squared_error: 118.8060
10/10 [==============================] - 0s 1ms/step - loss: 100.2407 - mean_squared_error: 100.2407
10/10 [==============================] - 0s 1ms/step - loss: 118.3151 - mean_squared_error: 118.3151
10/10 [==============================] - 0s 2ms/step - loss: 245.6480 - mean_squared_error: 245.6480
10/10 [==============================] - 0s 2ms/step - loss: 194.2281 - mean_squared_error: 194.2281
10/10 [==============================] - 0s 1ms/step - loss: 131.6642 - mean_squared_error: 131.6642
10/10 [==============================] - 0s 778us/step - loss: 100.1723 - mean_squared_error: 100.1723
10/10 [==============================] - 0s 2ms/step - loss: 804.9218 - mean_squared_error: 804.9218
10/10 [==============================] - 0s 1ms/step - loss: 208.0367 - mean_squared_error: 208.0367
10/10 [==============================] - 0s 545us/step - loss: 190.0179 - mean_squared_error: 190.0179
10/10 [==============================] - 0s 2ms/step - loss: 136.7993 - mean_squared_error: 136.7993
10/10 [==============================] - 0s 2ms/step - loss: 204.5620 - mean_squared_error: 204.5620
10/10 [==============================] - 0s 1ms/step - loss: 214.0707 - mean_squared_error: 214.0707
10/10 [==============================] - 0s 922us/step - loss: 203.5954 - mean_squared_error: 203.5954
10/10 [==============================] - 0s 1ms/step - loss: 333.0157 - mean_squared_error: 333.0157
10/10 [==============================] - 0s 2ms/step - loss: 139.3785 - mean_squared_error: 139.3785
10/10 [==============================] - 0s 1ms/step - loss: 126.0443 - mean_squared_error: 126.0443
10/10 [==============================] - 0s 806us/step - loss: 112.3959 - mean_squared_error: 112.3959
10/10 [==============================] - 0s 1ms/step - loss: 130.3865 - mean_squared_error: 130.3865
10/10 [==============================] - 0s 2ms/step - loss: 112.9416 - mean_squared_error: 112.9416
10/10 [==============================] - 0s 1ms/step - loss: 132.3749 - mean_squared_error: 132.3749
10/10 [==============================] - 0s 2ms/step - loss: 138.0760 - mean_squared_error: 138.0760
10/10 [==============================] - 0s 2ms/step - loss: 103.1652 - mean_squared_error: 103.1652
10/10 [==============================] - 0s 1ms/step - loss: 291.4019 - mean_squared_error: 291.4019
10/10 [==============================] - 0s 2ms/step - loss: 228.4636 - mean_squared_error: 228.4636
10/10 [==============================] - 0s 783us/step - loss: 261.7300 - mean_squared_error: 261.7300
10/10 [==============================] - 0s 2ms/step - loss: 213.9943 - mean_squared_error: 213.9943

In [42]:
mean_MSE=np.mean(MSE_scores)
STD_MSE=np.std(MSE_scores)

#Report the mean and the standard deviation of the mean squared errors.
print('mean_MSE: {} \n STD_MSE: {}'.format(mean_MSE, STD_MSE))

mean_MSE: 270.6544701712472
 STD_MSE: 267.8533848310198

How does the mean of the mean squared errors compare to that from Step A?

In this run, mean and STD were decreased.