In [1]:
#!pip install keras

In [2]:
import pandas as pd
import numpy as np

In [3]:
#load data
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
#split predictors and target
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
n_cols = predictors.shape[1] # number of predictors

In [11]:
import keras

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])
    return model

In [14]:
#split data train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)

In [15]:
# build the model
model = regression_model()

In [16]:
# fit the model using data train
model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 2192.5022 - mean_squared_error: 2192.5022
Epoch 2/50
23/23 - 0s - loss: 1607.7030 - mean_squared_error: 1607.7030
Epoch 3/50
23/23 - 0s - loss: 1264.3925 - mean_squared_error: 1264.3925
Epoch 4/50
23/23 - 0s - loss: 1048.5645 - mean_squared_error: 1048.5645
Epoch 5/50
23/23 - 0s - loss: 872.2646 - mean_squared_error: 872.2646
Epoch 6/50
23/23 - 0s - loss: 739.0618 - mean_squared_error: 739.0618
Epoch 7/50
23/23 - 0s - loss: 630.4440 - mean_squared_error: 630.4440
Epoch 8/50
23/23 - 0s - loss: 534.2203 - mean_squared_error: 534.2203
Epoch 9/50
23/23 - 0s - loss: 461.5688 - mean_squared_error: 461.5688
Epoch 10/50
23/23 - 0s - loss: 413.8092 - mean_squared_error: 413.8092
Epoch 11/50
23/23 - 0s - loss: 367.7360 - mean_squared_error: 367.7360
Epoch 12/50
23/23 - 0s - loss: 332.2121 - mean_squared_error: 332.2121
Epoch 13/50
23/23 - 0s - loss: 303.6226 - mean_squared_error: 303.6226
Epoch 14/50
23/23 - 0s - loss: 283.7982 - mean_squared_error: 283.7982
Epoch 15/50
23/23 - 0s - loss: 263.2203 - mean_squared_error: 263.2203
Epoch 16/50
23/23 - 0s - loss: 246.1076 - mean_squared_error: 246.1076
Epoch 17/50
23/23 - 0s - loss: 230.2400 - mean_squared_error: 230.2400
Epoch 18/50
23/23 - 0s - loss: 220.1832 - mean_squared_error: 220.1832
Epoch 19/50
23/23 - 0s - loss: 209.7478 - mean_squared_error: 209.7478
Epoch 20/50
23/23 - 0s - loss: 197.0036 - mean_squared_error: 197.0036
Epoch 21/50
23/23 - 0s - loss: 185.2170 - mean_squared_error: 185.2170
Epoch 22/50
23/23 - 0s - loss: 178.4347 - mean_squared_error: 178.4347
Epoch 23/50
23/23 - 0s - loss: 172.6489 - mean_squared_error: 172.6489
Epoch 24/50
23/23 - 0s - loss: 165.2677 - mean_squared_error: 165.2677
Epoch 25/50
23/23 - 0s - loss: 159.9852 - mean_squared_error: 159.9852
Epoch 26/50
23/23 - 0s - loss: 155.6841 - mean_squared_error: 155.6841
Epoch 27/50
23/23 - 0s - loss: 155.0829 - mean_squared_error: 155.0829
Epoch 28/50
23/23 - 0s - loss: 148.8842 - mean_squared_error: 148.8842
Epoch 29/50
23/23 - 0s - loss: 141.8325 - mean_squared_error: 141.8325
Epoch 30/50
23/23 - 0s - loss: 140.5107 - mean_squared_error: 140.5107
Epoch 31/50
23/23 - 0s - loss: 137.9852 - mean_squared_error: 137.9852
Epoch 32/50
23/23 - 0s - loss: 132.5729 - mean_squared_error: 132.5729
Epoch 33/50
23/23 - 0s - loss: 134.3454 - mean_squared_error: 134.3454
Epoch 34/50
23/23 - 0s - loss: 126.4489 - mean_squared_error: 126.4489
Epoch 35/50
23/23 - 0s - loss: 127.5201 - mean_squared_error: 127.5201
Epoch 36/50
23/23 - 0s - loss: 129.8161 - mean_squared_error: 129.8161
Epoch 37/50
23/23 - 0s - loss: 122.6209 - mean_squared_error: 122.6209
Epoch 38/50
23/23 - 0s - loss: 121.2448 - mean_squared_error: 121.2448
Epoch 39/50
23/23 - 0s - loss: 119.8978 - mean_squared_error: 119.8978
Epoch 40/50
23/23 - 0s - loss: 121.0810 - mean_squared_error: 121.0810
Epoch 41/50
23/23 - 0s - loss: 116.7236 - mean_squared_error: 116.7236
Epoch 42/50
23/23 - 0s - loss: 113.6014 - mean_squared_error: 113.6014
Epoch 43/50
23/23 - 0s - loss: 114.4884 - mean_squared_error: 114.4884
Epoch 44/50
23/23 - 0s - loss: 115.1054 - mean_squared_error: 115.1054
Epoch 45/50
23/23 - 0s - loss: 115.4170 - mean_squared_error: 115.4170
Epoch 46/50
23/23 - 0s - loss: 112.6923 - mean_squared_error: 112.6923
Epoch 47/50
23/23 - 0s - loss: 109.3013 - mean_squared_error: 109.3013
Epoch 48/50
23/23 - 0s - loss: 111.7325 - mean_squared_error: 111.7325
Epoch 49/50
23/23 - 0s - loss: 108.0285 - mean_squared_error: 108.0285
Epoch 50/50
23/23 - 0s - loss: 106.6451 - mean_squared_error: 106.6451

In [17]:
# evaluate the model using data test
scores = model.evaluate(X_test, y_test, verbose=0)
print("MSE: {}".format(scores[0]))

MSE: 103.31014251708984

In [18]:
# evaluate the model using data test with sklearn 
from sklearn.metrics import mean_squared_error
y_pred= model.predict(X_test)

print("MSE: {}".format(mean_squared_error(y_test, y_pred)))

MSE: 103.3101489385385

In [25]:
#Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.
MSE_scores=[]

for i in range(1,50):
        X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3) #split data
        model = regression_model()
        model.fit(X_train, y_train, epochs=50, verbose=0) #train model on training data using 50 epoc
        scores = model.evaluate(X_test, y_test, verbose=1)
        MSE_scores.append(scores[0])

10/10 [==============================] - 0s 2ms/step - loss: 95.2031 - mean_squared_error: 95.2031
10/10 [==============================] - 0s 667us/step - loss: 198.9128 - mean_squared_error: 198.9128
10/10 [==============================] - 0s 666us/step - loss: 165.7128 - mean_squared_error: 165.7128
10/10 [==============================] - 0s 1ms/step - loss: 541.7976 - mean_squared_error: 541.7976
10/10 [==============================] - 0s 756us/step - loss: 134.3326 - mean_squared_error: 134.3326
10/10 [==============================] - 0s 665us/step - loss: 230.4738 - mean_squared_error: 230.4738
10/10 [==============================] - 0s 2ms/step - loss: 165.6993 - mean_squared_error: 165.6993
10/10 [==============================] - 0s 2ms/step - loss: 324.1237 - mean_squared_error: 324.1237
10/10 [==============================] - 0s 2ms/step - loss: 148.6683 - mean_squared_error: 148.6683
10/10 [==============================] - 0s 2ms/step - loss: 109.1644 - mean_squared_error: 109.1644
10/10 [==============================] - 0s 902us/step - loss: 547.4371 - mean_squared_error: 547.4371
10/10 [==============================] - 0s 677us/step - loss: 429.8381 - mean_squared_error: 429.8381
10/10 [==============================] - 0s 850us/step - loss: 293.4183 - mean_squared_error: 293.4183
10/10 [==============================] - 0s 1ms/step - loss: 111.9879 - mean_squared_error: 111.9879
10/10 [==============================] - 0s 2ms/step - loss: 145.9791 - mean_squared_error: 145.9791
10/10 [==============================] - 0s 2ms/step - loss: 181.6414 - mean_squared_error: 181.6414
10/10 [==============================] - 0s 2ms/step - loss: 143.3777 - mean_squared_error: 143.3777
10/10 [==============================] - 0s 2ms/step - loss: 425.7332 - mean_squared_error: 425.7332
10/10 [==============================] - 0s 667us/step - loss: 393.8005 - mean_squared_error: 393.8005
10/10 [==============================] - 0s 1ms/step - loss: 294.1755 - mean_squared_error: 294.1755
10/10 [==============================] - 0s 837us/step - loss: 126.3897 - mean_squared_error: 126.3897
10/10 [==============================] - 0s 890us/step - loss: 244.2784 - mean_squared_error: 244.2784
10/10 [==============================] - 0s 556us/step - loss: 99.6588 - mean_squared_error: 99.6588
10/10 [==============================] - 0s 700us/step - loss: 106.4510 - mean_squared_error: 106.4510
10/10 [==============================] - 0s 667us/step - loss: 133.6308 - mean_squared_error: 133.6308
10/10 [==============================] - 0s 2ms/step - loss: 1914.9015 - mean_squared_error: 1914.9015
10/10 [==============================] - 0s 1ms/step - loss: 148.4033 - mean_squared_error: 148.4033
10/10 [==============================] - 0s 1ms/step - loss: 192.7165 - mean_squared_error: 192.7165
10/10 [==============================] - 0s 556us/step - loss: 166.8206 - mean_squared_error: 166.8206
10/10 [==============================] - 0s 2ms/step - loss: 200.8232 - mean_squared_error: 200.8232
10/10 [==============================] - 0s 778us/step - loss: 319.4225 - mean_squared_error: 319.4225
10/10 [==============================] - 0s 2ms/step - loss: 162.5693 - mean_squared_error: 162.5693
10/10 [==============================] - 0s 2ms/step - loss: 171.7394 - mean_squared_error: 171.7394
10/10 [==============================] - 0s 1ms/step - loss: 366.4788 - mean_squared_error: 366.4788
10/10 [==============================] - 0s 778us/step - loss: 105.9576 - mean_squared_error: 105.9576
10/10 [==============================] - 0s 2ms/step - loss: 1047.6519 - mean_squared_error: 1047.6519
10/10 [==============================] - 0s 777us/step - loss: 162.0668 - mean_squared_error: 162.0668
10/10 [==============================] - 0s 1ms/step - loss: 103.7482 - mean_squared_error: 103.7482
10/10 [==============================] - 0s 666us/step - loss: 183.0376 - mean_squared_error: 183.0376
10/10 [==============================] - 0s 667us/step - loss: 2640.1777 - mean_squared_error: 2640.1777
10/10 [==============================] - 0s 667us/step - loss: 417.9455 - mean_squared_error: 417.9455
10/10 [==============================] - 0s 666us/step - loss: 746.8282 - mean_squared_error: 746.8282
10/10 [==============================] - 0s 667us/step - loss: 1710.6823 - mean_squared_error: 1710.6823
10/10 [==============================] - 0s 668us/step - loss: 260.5004 - mean_squared_error: 260.5004
10/10 [==============================] - 0s 846us/step - loss: 149.7217 - mean_squared_error: 149.7217
10/10 [==============================] - 0s 926us/step - loss: 247.3624 - mean_squared_error: 247.3624
10/10 [==============================] - 0s 2ms/step - loss: 169.4942 - mean_squared_error: 169.4942
10/10 [==============================] - 0s 567us/step - loss: 113.8165 - mean_squared_error: 113.8165
10/10 [==============================] - 0s 1ms/step - loss: 103.8507 - mean_squared_error: 103.8507

In [24]:
mean_MSE=np.mean(MSE_scores)
STD_MSE=np.std(MSE_scores)

#Report the mean and the standard deviation of the mean squared errors.
print('mean_MSE: {} \n STD_MSE: {}'.format(mean_MSE, STD_MSE))

mean_MSE: 285.3310001918248
 STD_MSE: 371.8348049663834