In [1]:
#!pip install keras

In [2]:
import pandas as pd
import numpy as np

In [3]:
#load data
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
#split predictors and target
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
#normalize data
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors_norm.shape[1] # number of predictors

In [12]:
import keras

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
# define regression model, 3 hidden layers
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])
    return model

In [15]:
#split data train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)

In [16]:
# build the model
model = regression_model()

In [17]:
# fit the model using data train
model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 1548.0990 - mean_squared_error: 1548.0990
Epoch 2/50
23/23 - 0s - loss: 1533.2274 - mean_squared_error: 1533.2274
Epoch 3/50
23/23 - 0s - loss: 1512.8790 - mean_squared_error: 1512.8790
Epoch 4/50
23/23 - 0s - loss: 1478.9240 - mean_squared_error: 1478.9240
Epoch 5/50
23/23 - 0s - loss: 1421.7882 - mean_squared_error: 1421.7882
Epoch 6/50
23/23 - 0s - loss: 1334.2113 - mean_squared_error: 1334.2113
Epoch 7/50
23/23 - 0s - loss: 1209.8312 - mean_squared_error: 1209.8312
Epoch 8/50
23/23 - 0s - loss: 1040.5985 - mean_squared_error: 1040.5985
Epoch 9/50
23/23 - 0s - loss: 838.6134 - mean_squared_error: 838.6134
Epoch 10/50
23/23 - 0s - loss: 624.5369 - mean_squared_error: 624.5369
Epoch 11/50
23/23 - 0s - loss: 437.3908 - mean_squared_error: 437.3908
Epoch 12/50
23/23 - 0s - loss: 315.3848 - mean_squared_error: 315.3848
Epoch 13/50
23/23 - 0s - loss: 252.8057 - mean_squared_error: 252.8057
Epoch 14/50
23/23 - 0s - loss: 225.3789 - mean_squared_error: 225.3789
Epoch 15/50
23/23 - 0s - loss: 210.8175 - mean_squared_error: 210.8175
Epoch 16/50
23/23 - 0s - loss: 201.9781 - mean_squared_error: 201.9781
Epoch 17/50
23/23 - 0s - loss: 195.1547 - mean_squared_error: 195.1547
Epoch 18/50
23/23 - 0s - loss: 189.5261 - mean_squared_error: 189.5261
Epoch 19/50
23/23 - 0s - loss: 184.7039 - mean_squared_error: 184.7039
Epoch 20/50
23/23 - 0s - loss: 180.6092 - mean_squared_error: 180.6092
Epoch 21/50
23/23 - 0s - loss: 176.1743 - mean_squared_error: 176.1743
Epoch 22/50
23/23 - 0s - loss: 172.1671 - mean_squared_error: 172.1671
Epoch 23/50
23/23 - 0s - loss: 167.8694 - mean_squared_error: 167.8694
Epoch 24/50
23/23 - 0s - loss: 163.6320 - mean_squared_error: 163.6320
Epoch 25/50
23/23 - 0s - loss: 159.7968 - mean_squared_error: 159.7968
Epoch 26/50
23/23 - 0s - loss: 155.7675 - mean_squared_error: 155.7675
Epoch 27/50
23/23 - 0s - loss: 151.5535 - mean_squared_error: 151.5535
Epoch 28/50
23/23 - 0s - loss: 148.1759 - mean_squared_error: 148.1759
Epoch 29/50
23/23 - 0s - loss: 143.9873 - mean_squared_error: 143.9873
Epoch 30/50
23/23 - 0s - loss: 139.9865 - mean_squared_error: 139.9865
Epoch 31/50
23/23 - 0s - loss: 135.5982 - mean_squared_error: 135.5982
Epoch 32/50
23/23 - 0s - loss: 131.7046 - mean_squared_error: 131.7046
Epoch 33/50
23/23 - 0s - loss: 127.9843 - mean_squared_error: 127.9843
Epoch 34/50
23/23 - 0s - loss: 124.5283 - mean_squared_error: 124.5283
Epoch 35/50
23/23 - 0s - loss: 121.0016 - mean_squared_error: 121.0016
Epoch 36/50
23/23 - 0s - loss: 117.8362 - mean_squared_error: 117.8362
Epoch 37/50
23/23 - 0s - loss: 114.5247 - mean_squared_error: 114.5247
Epoch 38/50
23/23 - 0s - loss: 111.5757 - mean_squared_error: 111.5757
Epoch 39/50
23/23 - 0s - loss: 108.6783 - mean_squared_error: 108.6783
Epoch 40/50
23/23 - 0s - loss: 105.6427 - mean_squared_error: 105.6427
Epoch 41/50
23/23 - 0s - loss: 103.2566 - mean_squared_error: 103.2566
Epoch 42/50
23/23 - 0s - loss: 100.4306 - mean_squared_error: 100.4306
Epoch 43/50
23/23 - 0s - loss: 98.0241 - mean_squared_error: 98.0241
Epoch 44/50
23/23 - 0s - loss: 95.8154 - mean_squared_error: 95.8154
Epoch 45/50
23/23 - 0s - loss: 93.8643 - mean_squared_error: 93.8643
Epoch 46/50
23/23 - 0s - loss: 91.8724 - mean_squared_error: 91.8724
Epoch 47/50
23/23 - 0s - loss: 89.7976 - mean_squared_error: 89.7976
Epoch 48/50
23/23 - 0s - loss: 88.9343 - mean_squared_error: 88.9343
Epoch 49/50
23/23 - 0s - loss: 86.9812 - mean_squared_error: 86.9812
Epoch 50/50
23/23 - 0s - loss: 84.9976 - mean_squared_error: 84.9976

In [18]:
# evaluate the model using data test
scores = model.evaluate(X_test, y_test, verbose=0)
print("MSE: {}".format(scores[0]))

MSE: 94.31624603271484

In [19]:
# evaluate the model using data test with sklearn 
from sklearn.metrics import mean_squared_error
y_pred= model.predict(X_test)

print("MSE: {}".format(mean_squared_error(y_test, y_pred)))

MSE: 94.31623876867789

In [20]:
#Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.
MSE_scores=[]

for i in range(1,50):
        X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3) #split data
        model = regression_model()
        model.fit(X_train, y_train, epochs=50, verbose=0) #train model on training data using 50 epoc
        scores = model.evaluate(X_test, y_test, verbose=1)
        MSE_scores.append(scores[0])

10/10 [==============================] - 0s 1ms/step - loss: 103.1994 - mean_squared_error: 103.1994
10/10 [==============================] - 0s 1ms/step - loss: 104.5662 - mean_squared_error: 104.5662
10/10 [==============================] - 0s 1ms/step - loss: 156.0660 - mean_squared_error: 156.0660
10/10 [==============================] - 0s 2ms/step - loss: 110.9753 - mean_squared_error: 110.9753
10/10 [==============================] - 0s 2ms/step - loss: 89.1752 - mean_squared_error: 89.1752
10/10 [==============================] - 0s 2ms/step - loss: 145.9806 - mean_squared_error: 145.9806
10/10 [==============================] - 0s 925us/step - loss: 100.3470 - mean_squared_error: 100.3470
10/10 [==============================] - 0s 791us/step - loss: 118.0961 - mean_squared_error: 118.0961
10/10 [==============================] - 0s 2ms/step - loss: 134.5184 - mean_squared_error: 134.5184
10/10 [==============================] - 0s 2ms/step - loss: 68.2642 - mean_squared_error: 68.2642
10/10 [==============================] - 0s 1ms/step - loss: 50.7628 - mean_squared_error: 50.7628
10/10 [==============================] - 0s 839us/step - loss: 123.8612 - mean_squared_error: 123.8612
10/10 [==============================] - 0s 2ms/step - loss: 110.6478 - mean_squared_error: 110.6478
10/10 [==============================] - 0s 861us/step - loss: 142.4843 - mean_squared_error: 142.4843
10/10 [==============================] - 0s 2ms/step - loss: 94.8005 - mean_squared_error: 94.8005
10/10 [==============================] - 0s 827us/step - loss: 1597.6459 - mean_squared_error: 1597.6459
10/10 [==============================] - 0s 1ms/step - loss: 103.0112 - mean_squared_error: 103.0112
10/10 [==============================] - 0s 1ms/step - loss: 99.1043 - mean_squared_error: 99.1043
10/10 [==============================] - 0s 1ms/step - loss: 103.1570 - mean_squared_error: 103.1570
10/10 [==============================] - 0s 779us/step - loss: 97.0802 - mean_squared_error: 97.0802
10/10 [==============================] - 0s 667us/step - loss: 136.7163 - mean_squared_error: 136.7163
10/10 [==============================] - 0s 1ms/step - loss: 75.9451 - mean_squared_error: 75.9451
10/10 [==============================] - 0s 1ms/step - loss: 98.1222 - mean_squared_error: 98.1222
10/10 [==============================] - 0s 759us/step - loss: 77.3635 - mean_squared_error: 77.3635
10/10 [==============================] - 0s 704us/step - loss: 105.9393 - mean_squared_error: 105.9393
10/10 [==============================] - 0s 2ms/step - loss: 184.2402 - mean_squared_error: 184.2402
10/10 [==============================] - 0s 1ms/step - loss: 116.9707 - mean_squared_error: 116.9707
10/10 [==============================] - 0s 667us/step - loss: 72.0992 - mean_squared_error: 72.0992
10/10 [==============================] - 0s 2ms/step - loss: 198.4807 - mean_squared_error: 198.4807
10/10 [==============================] - 0s 734us/step - loss: 108.5982 - mean_squared_error: 108.5982
10/10 [==============================] - 0s 2ms/step - loss: 80.3722 - mean_squared_error: 80.3722
10/10 [==============================] - 0s 1ms/step - loss: 90.8873 - mean_squared_error: 90.8873
10/10 [==============================] - 0s 1ms/step - loss: 68.2816 - mean_squared_error: 68.2816
10/10 [==============================] - 0s 2ms/step - loss: 109.7248 - mean_squared_error: 109.7248
10/10 [==============================] - 0s 1ms/step - loss: 76.9308 - mean_squared_error: 76.9308
10/10 [==============================] - 0s 2ms/step - loss: 101.4506 - mean_squared_error: 101.4506
10/10 [==============================] - 0s 1ms/step - loss: 62.2450 - mean_squared_error: 62.2450
10/10 [==============================] - 0s 663us/step - loss: 81.5642 - mean_squared_error: 81.5642
10/10 [==============================] - 0s 2ms/step - loss: 191.0393 - mean_squared_error: 191.0393
10/10 [==============================] - 0s 668us/step - loss: 117.7254 - mean_squared_error: 117.7254
10/10 [==============================] - 0s 1ms/step - loss: 113.0948 - mean_squared_error: 113.0948
10/10 [==============================] - 0s 777us/step - loss: 108.1813 - mean_squared_error: 108.1813
10/10 [==============================] - 0s 668us/step - loss: 136.7997 - mean_squared_error: 136.7997
10/10 [==============================] - 0s 907us/step - loss: 92.9947 - mean_squared_error: 92.9947
10/10 [==============================] - 0s 848us/step - loss: 90.2856 - mean_squared_error: 90.2856
10/10 [==============================] - 0s 1ms/step - loss: 58.5078 - mean_squared_error: 58.5078
10/10 [==============================] - 0s 2ms/step - loss: 70.9771 - mean_squared_error: 70.9771
10/10 [==============================] - 0s 2ms/step - loss: 78.4118 - mean_squared_error: 78.4118
10/10 [==============================] - 0s 2ms/step - loss: 109.5427 - mean_squared_error: 109.5427

In [21]:
mean_MSE=np.mean(MSE_scores)
STD_MSE=np.std(MSE_scores)

#Report the mean and the standard deviation of the mean squared errors.
print('mean_MSE: {} \n STD_MSE: {}'.format(mean_MSE, STD_MSE))

mean_MSE: 136.06603240966797
 STD_MSE: 213.3296348916927

How does the mean of the mean squared errors compare to that from Step A?

In comparison with Part(B), mean and STD were decreased.